<!doctype html>
<html>
<head>
<title>Upload thumbnail image and enter video title</title>
</head>
<body>
<h1>Upload thumbnail image of your video</h1>
<form action="/output" method="post" enctype="multipart/form-data">
     <input type=file name=file>
     <h1>Enter your video title:</h2>
     <input type="text" name="title">     
     <input type="submit" name="my-form" value="Send">


</form>

<!-- <h1>Enter your video title:</h2> -->
<!-- <form action="." method="POST">  -->
<!--    <input type="text" name="title">  -->
<!--    <input type="submit" name="my-form" value="Send"> -->
<!-- </form>  -->

</body>
</html>
